.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f0f0f0; /* Light gray background */
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #4CAF50; /* Greenish color */
    margin-bottom: 1px;

}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    background-color: #ffffff; /* White background */
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* Light gray background */
}

.date-time-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.date-time-container input[type="date"], 
.date-time-container input[type="time"], 
.date-time-container button {
    height: 5px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 0; 
    margin: 0;
    background-color: #f9f9f9; /* Light gray background */
}

.date-time-container input[type="date"] {
    border-radius: 5px 0 0 5px; 
}

.date-time-container input[type="time"] {
    border-radius: 0; 
}

.date-time-container button {
    border-radius: 0 5px 5px 0; 
    background-color: #4CAF50; /* Greenish color */
    color: #fff;
    border: none;
    cursor: pointer;
}

.input-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Greenish color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.input-container button:hover {
    background-color: #3e8e41; /* Darker greenish color */
}

.output-container {
    margin-top: 10px;
    background-color: #ffffff; /* White background */
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#output {
    list-style: none;
    padding: 0;
    margin: 0;
}

#output li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9; /* Light gray background */
}

#output li:last-child {
    border-bottom: none;
}

#output li span {
    float: right;
    cursor: pointer;
    color: #e74c3c; /* Reddish color */
}

#output li.check {
    background-color: #dff0d8; /* Light greenish background */
    color: #3e8e41; /* Darker greenish color */
}